<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.ResidentSystem.entity.AdminMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.ResidentSystem.model.Admin" >
    <id column="AdminNo" property="adminno" jdbcType="INTEGER" />
    <result column="Grade" property="grade" />
    <result column="Name" property="name" />
    <result column="StudentState" property="studentState" />
    <result column="TrainState" property="trainState" />
    <result column="Sex" property="sex" />
    <result column="Education" property="education" />
    <result column="Teacher" property="teacher" />
    <result column="Major" property="major" />
    <result column="Company" property="company" />
    <result column="Office" property="office" />
    <result column="PhoneNum" property="phoneNum" />
    <result column="BankNum" property="bankNum" />
    <result column="IdCard" property="idCard" />
    <result column="GraduateInstitutions" property="graduateInstitutions" />
    <result column="MaxGraduate" property="maxGraduate" />
    <result column="Technical" property="technical" />
    <result column="DoctorQulification" property="doctorQulification" />
    <result column="Practicing" property="practicing" />
    <result column="Career" property="career" />
    <result column="Identity" property="identity" />
    <result column="Yorndoctor" property="yorndoctor" />
    <result column="Trainyear" property="trainyear" />
    <result column="login_id" property="login_id" />
  </resultMap>
  
 <resultMap id="LoginResultMap" type="cn.edu.ResidentSystem.model.Login" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="AdminName" property="adminname" />
    <result column="AdminPass" property="adminpass" />
    
  </resultMap>
  
  <select id="selectByAdminName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select *
    from admin
    where AdminName = #{adminname,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from admin
    where AdminNo = #{adminno,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.ResidentSystem.model.Admin" >
    insert into admin (Grade,Name,StudentState,TrainState,Sex,Education,Teacher,
                        Major,Company,Office,PhoneNum,BankNum,IdCard,GraduateInstitutions,MaxGraduate,Technical,
                        DoctorQulification,Practicing,Career,Identity,Yorndoctor,Trainyear,login_id
      )
    values (#{grade}, #{name},#{studentState},#{trainState},#{sex},#{education},#{teacher},#{major},#{company},#{office},
            #{phoneNum},#{bankNum},#{idCard},#{graduateInstitutions},#{maxGraduate},#{technical},#{doctorQulification}
            ,#{practicing},#{career},#{identity},#{yorndoctor},#{trainyear},#{login_id}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.ResidentSystem.model.Admin" >
    insert into admin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="adminno != null" >
        AdminNo,
      </if>
      <if test="adminname != null" >
        AdminName,
      </if>
      <if test="adminpass != null" >
        AdminPass,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="adminno != null" >
        #{adminno,jdbcType=INTEGER},
      </if>
      <if test="adminname != null" >
        #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpass != null" >
        #{adminpass,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.ResidentSystem.model.Admin" >
    update admin
    <set >
      <if test="adminname != null" >
        AdminName = #{adminname,jdbcType=VARCHAR},
      </if>
      <if test="adminpass != null" >
        AdminPass = #{adminpass,jdbcType=VARCHAR},
      </if>
    </set>
    where AdminNo = #{adminno,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.ResidentSystem.model.Admin" >
    update admin
    set AdminName = #{adminname,jdbcType=VARCHAR},
      AdminPass = #{adminpass,jdbcType=VARCHAR}
    where AdminNo = #{adminno,jdbcType=INTEGER}
  </update>
  <select id="countAll"  resultType="int">
        select count(*) from admin where 1=1 
		<if test="admin.name!=null" >
		and name like '%${admin.name}%' 
		</if>
    </select>
    
    <select id="query" resultMap="BaseResultMap" >
		select * from admin  where 1=1 
		<if test="admin.name!=null" >
		and name like '%${admin.name}%' 
		</if>
        <if test="page != null">
        		limit #{page.beginIndex}, #{page.pageSize}
        </if>
    </select>
    
    <select id="selectById" resultMap="BaseResultMap">
          select * from admin where id=#{id}
    </select>
    
    <select id="selectByNo" resultMap="LoginResultMap" parameterType="java.lang.String">
          select * from td_login where AdminName=#{adminname}
    </select>
    
    <insert id="insertLogin"  parameterType="cn.edu.ResidentSystem.model.Login" useGeneratedKeys="true">
        insert into td_login (AdminName, AdminPass  )
        values (#{login.adminname,jdbcType=VARCHAR}, #{login.adminpass,jdbcType=VARCHAR}
        )
    </insert>
</mapper>